.App {
  text-align: center;
}
.react-grid-Cell:focus {
  outline: none !important;
}
.App-logo {
  image: logo;
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
